In [1]:
import pandas as pd
import json
import numpy as np
from unidecode import unidecode

with open('util/comuna2id.json', 'r') as archivo:
    comuna2id = json.load(archivo)

id2comuna = {v: k for k, v in comuna2id.items()}

In [2]:
censo = pd.read_csv('./database/Cantidad-de-Personas-por-Sexo-y-Edad.csv', sep=";")
censo["NOMBRE COMUNA"] = censo["NOMBRE COMUNA"].str.upper()
censo["NOMBRE COMUNA"] = censo["NOMBRE COMUNA"].apply(unidecode)
censo.columns = censo.columns.str.upper()
censo

,ORDEN,NOMBRE REGIÓN,CÓDIGO REGIÓN,NOMBRE PROVINCIA,CÓDIGO PROVINCIA,NOMBRE COMUNA,CÓDIGO COMUNA,EDAD,HOMBRES,MUJERES,TOTAL
0,0,PAÍS,PAÍS,PAÍS,PAÍS,PAIS,PAÍS,Total País,8.601.989,8.972.014,17.574.003
1,1,PAÍS,PAÍS,PAÍS,PAÍS,PAIS,PAÍS,0 a 4,594.059,572.087,1.166.146
2,2,PAÍS,PAÍS,PAÍS,PAÍS,PAIS,PAÍS,5 a 9,618.121,592.068,1.210.189
3,3,PAÍS,PAÍS,PAÍS,PAÍS,PAIS,PAÍS,10 a 14,585.855,561.560,1.147.415
4,4,PAÍS,PAÍS,PAÍS,PAÍS,PAIS,PAÍS,15 a 19,636.064,608.633,1.244.697
...,...,...,...,...,...,...,...,...,...,...,...
7629,7629,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,ÚLTIMA ESPERANZA,124,TORRES DEL PAINE,12402,80 a 84,2,2,4
7630,7630,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,ÚLTIMA ESPERANZA,124,TORRES DEL PAINE,12402,85 a 89,0,1,1
7631,7631,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,ÚLTIMA ESPERANZA,124,TORRES DEL PAINE,12402,90 a 94,0,0,0
7632,7632,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,ÚLTIMA ESPERANZA,124,TORRES DEL PAINE,12402,95 a 99,0,0,0
7633,7633,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,ÚLTIMA ESPERANZA,124,TORRES DEL PAINE,12402,100 o más,0,0,0

In [3]:
censo_x_comuna = censo.drop_duplicates(subset="CÓDIGO COMUNA")
censo_x_comuna.loc[:,'CÓDIGO COMUNA'] = censo_x_comuna.loc[:,'CÓDIGO COMUNA'].replace('PAÍS', np.nan)
censo_x_comuna = censo_x_comuna.dropna(subset="CÓDIGO COMUNA")
censo_x_comuna

,ORDEN,NOMBRE REGIÓN,CÓDIGO REGIÓN,NOMBRE PROVINCIA,CÓDIGO PROVINCIA,NOMBRE COMUNA,CÓDIGO COMUNA,EDAD,HOMBRES,MUJERES,TOTAL
22,22,ARICA Y PARINACOTA,15,ARICA,151,ARICA,15101,Total Comunal,109.389,111.975,221.364
44,44,ARICA Y PARINACOTA,15,ARICA,151,CAMARONES,15102,Total Comunal,726,529,1.255
66,66,ARICA Y PARINACOTA,15,PARINACOTA,152,PUTRE,15201,Total Comunal,2.054,711,2.765
88,88,ARICA Y PARINACOTA,15,PARINACOTA,152,GENERAL LAGOS,15202,Total Comunal,412,272,684
110,110,TARAPACÁ,1,IQUIQUE,11,IQUIQUE,1101,Total Comunal,94.897,96.571,191.468
...,...,...,...,...,...,...,...,...,...,...,...
7524,7524,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,TIERRA DEL FUEGO,123,PORVENIR,12301,Total Comunal,3.993,2.808,6.801
7546,7546,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,TIERRA DEL FUEGO,123,PRIMAVERA,12302,Total Comunal,930,228,1.158
7568,7568,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,TIERRA DEL FUEGO,123,TIMAUKEL,12303,Total Comunal,343,62,405
7590,7590,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,ÚLTIMA ESPERANZA,124,NATALES,12401,Total Comunal,10.992,10.485,21.477
7612,7612,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,ÚLTIMA ESPERANZA,124,TORRES DEL PAINE,12402,Total Comunal,800,409,1.209

In [4]:
recintos_de_salud = pd.read_csv('./database/recintos_de_salud.csv', sep=";")
recintos_de_salud["Comuna"] = recintos_de_salud["Comuna"].str.upper()
recintos_de_salud["Comuna"] = recintos_de_salud["Comuna"].apply(unidecode)
recintos_de_salud.columns = recintos_de_salud.columns.str.upper()
recintos_de_salud

,REGIÓN,NÚMERO DE REGIÓN,COMUNA,ESTABLECIMIENTO,TELÉFONO,PERTENECENCIA,DIRECCIÓN
0,De Arica Parinacota,XV,ARICA,Actividades Gestionadas por la Dirección del S...,NaN,Perteneciente,Calle Arturo Prat 305
1,De Arica Parinacota,XV,ARICA,PRAIS (S.S Arica),NaN,Perteneciente,Calle Arturo Prat 305
2,De Arica Parinacota,XV,ARICA,Clínica Dental Móvil Simple. Pat. PW4076 (Arica),NaN,Perteneciente,Calle Arturo Prat 305
3,De Arica Parinacota,XV,ARICA,Oficina Sanitaria Chacalluta,NaN,Perteneciente,NaN
4,De Arica Parinacota,XV,ARICA,Hospital Dr. Juan Noé Crevanni (Arica),582584592.0,Perteneciente,Calle 18 de Septiembre 1000
...,...,...,...,...,...,...,...
3808,De Magallanes y de la Antártica Chilena,XII,PUNTA ARENAS,SAPU Dr. Mateo Bencur,612210142.0,Perteneciente,Calle Capitán Guillermo 781
3809,De Magallanes y de la Antártica Chilena,XII,PUNTA ARENAS,SAPU Dr. Juan Damianovic,612260555.0,Perteneciente,Calle Zenteno 1102
3810,De Magallanes y de la Antártica Chilena,XII,PUNTA ARENAS,SAPU 18 de Septiembre,612260730.0,Perteneciente,Calle Mateo de Toro y Zambrano 1893
3811,De Magallanes y de la Antártica Chilena,XII,PUNTA ARENAS,Centro Médico Fermín Roca,612240976.0,No Perteneciente,Calle Luis Navarro 716
3812,De Magallanes y de la Antártica Chilena,XII,NATALES,Policlínico de Asociación Chilena de Seguridad,NaN,No Perteneciente,Calle Baquedano 230

In [13]:
recintos_de_salud = recintos_de_salud.drop_duplicates(subset="COMUNA")
recintos_de_salud.loc[:,"CÓDIGO COMUNA"] = recintos_de_salud.loc[:,"COMUNA"].map(comuna2id)
comuna_sin_hospital = censo_x_comuna[~censo_x_comuna["CÓDIGO COMUNA"].isin(recintos_de_salud["CÓDIGO COMUNA"])].drop_duplicates(subset="CÓDIGO COMUNA")
comuna_sin_hospital

,ORDEN,NOMBRE REGIÓN,CÓDIGO REGIÓN,NOMBRE PROVINCIA,CÓDIGO PROVINCIA,NOMBRE COMUNA,CÓDIGO COMUNA,EDAD,HOMBRES,MUJERES,TOTAL
7502,7502,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,ANTÁRTICA CHILENA,122,ANTARTICA,12202,Total Comunal,126,12,138